<%= render "shared/seconde_header" %>

<main class="main">
  <div class="contents">
    <div class="top">
      <h2 class="top_head">西丹沢 大滝キャンプ場</h2>
      <div class="head_main">横浜から80分！大自然が生み出した山と川のハーモニー<br />
      </div>
    </div>
    <div class='intermediatess'>
      <h2 class="intermediates_head">写真・風景</h2>
      <div class='item-lists'>
        <div class='listss'>
          <div class='item-img-contents'>
            <%= image_tag "/images/map1.jpg" %>
            <%= image_tag "/images/oota.jpeg" %>
            <%= image_tag "/images/bi.jpeg" %>
            <%= image_tag "/images/piza.jpeg" %>
          </div>
        </div>
      </div>
    </div>
    <div class="top">
      <h2 class="top_head">ポイント</h2>
      <div class="head_main">キャンプサイトの目の前には渓流（河内川）が流れ、深さも浅いので川で遊べます！<br />
      <br />
      中でも、キャンプ場では珍しいピザ焼き（本格ピザ窯で焼く）体験もできカップルや家族連れにも人気のキャンプ場です。<br />
      <br />
      鮎の掴み取りもやっており、レクリエーションも充実しています！<br />
      <br />
      早朝には川のせせらぎで起床でき、朝日が眩しいくらいテントに差し込んできて爽快な朝を向かえられること間違いなしです！<br />
      <br />
      炊事場・トイレ等が清潔に保たれていて、不快感もなく過ごせます。<br />
      <br />
      キャンプサイトでは直火もOKなので、焚き火台などの持参することなく、コンパクト何物で訪れることができます！<br />
      <br />
      スタッフさんも親切な対応、2度3度と行きたくなるようなキャンプ場です！！<br />
      <br />
      <br />
      <br />
      ※ オートサイトにバイクを入れる際には、坂で細くて砂利道となっているので注意が必要
      </div>
    </div>
    <div class="top_s">
      <h2 class="top_head">おすすめスポット</h2>
      <div class="head_main">キャンプ場からバイクで5分のところに、「中川温泉ぶなの湯」があり、<br />
      バイクで冷えた体を温めることができます！<br />
      <br />
      キャンプ場から徒歩で山を登ると「大滝」観光スポットがあり、<br />
      周りは自然しかないのでマイナスイオン独り占めできます！！
      </div>
    </div>
    <div class="top_a">
      <ul class="camps">
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "西丹沢 大滝キャンプ場", "http://ootakicampsite.com/", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒258-0201 神奈川県足柄上郡山北町中川879
          </div>
          <div class="phone">
            TEL : 0465-78-3146
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>

<%= render "shared/footer" %>