<%= render "shared/seconde_header2" %>

<main class="main">
  <div class="contents">
    <div class="top">
      <h2 class="top_head">タナックス(TANAX) キャンピングシートバッグ2</h2>
      <div class="head_main">紹介文<br />
      </div>
    </div>
    <div class='intermediatess'>
      <h2 class="intermediates_head">商品写真</h2>
      <div class='item-lists'>
        <div class='listss'>
          <div class='item-img-contents'>
            <%= image_tag "/images/search.png" %>
            <%= image_tag "/images/search.png" %>
            <%= image_tag "/images/search.png" %>
            <%= image_tag "/images/search.png" %>
          </div>
        </div>
      </div>
    </div>
    <div class="top">
      <h2 class="top_head">商品詳細</h2>
      <div class="head_main">紹介文<br />
      </div>
    </div>
    <div class="top_s">
      <h2 class="top_head">アイテムポイント</h2>
      <div class="head_main">紹介文<br />
      </div>
    </div>
    <div class="top_a">
      <ul class="camps">
        <li class="camp_name">
          <div class="address">
            Link（Amazon）
          </div>
          <div class = "Name">
            <%= link_to "タナックス(TANAX) キャンピングシートバッグ2 モトフィズ(MOTOFIZZ) ブラック MFK-102 (可変容量59-75ℓ)", "#" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>

<%= render "shared/footer" %>