<%= render "shared/seconde_header2" %>

<main class="main">
  <div class="contents">
    <div class="top">
      <h2 class="top_head">タナックス(TANAX) キャンピングシートバッグ2</h2>
      <div class="head_main">大容量！BCLifeでキャンプ道具を入れるならこれ！！<br />
      </div>
    </div>
    <div class='intermediatess'>
      <h2 class="intermediates_head">商品写真</h2>
      <div class='item-lists'>
        <div class='listss'>
          <div class='item-img-contents'>
            <%= image_tag "/images/hiraku.webp" %>
            <%= image_tag "/images/haba.webp" %>
            <%= image_tag "/images/tori.webp" %>
            <%= image_tag "/images/iti.webp" %>
          </div>
        </div>
      </div>
    </div>
    <div class="top">
      <h2 class="top_head">商品詳細</h2>
      <div class="head_main">カラー : ブラック<br />
      <br />
      素材 ： 1680Dナイロン＋PVCレザー<br />
      <br />
      サイズ ： 350（H）Ｘ620（W）Ｘ350（D）mm（最小時）<br />
      350（H）Ｘ820（W）Ｘ350（D）mm（最大時）<br />
      ※横(W)サイズはサイドポーチを含む<br />
      <br />
      最大収納重量：14.0kg<br />
      <br />
      部品構成 ： ・本体×1<br />
      ・固定ベルト×4<br />
      ・レインカバー×1<br />
      ・接続バックル×1<br />
      ・ショルダーベルト×1<br />
      ・ホルダーベルト×2<br />
      （製品に装着されています。）<br />
      ・セフティベルト×1<br />
      <br />
      容量 ： 59〜75 リットル<br />
      <br />
      価格 : ￥16,369(税込)<br />
      ※ Amazon価格参照
      </div>
    </div>
    <div class="top_s">
      <h2 class="top_head">アイテムポイント</h2>
      <div class="head_main">キャンプツーリングに最適な大容量バッグ。<br />
      <br />
      ホルダーベルトやホールディングコードで、テントやマットも簡単積載。<br />
      <br />
      ワンタッチバックルで着脱がスピーディ。<br />
      <br />
      買出しした荷物の積載に便利な増量ポケットを装備。<br />
      <br />
      両サイドオープンファスナーなので荷物の取り出しが便利。<br />
      <br />
      <br />
      <br />
      大容量なので仮に荷物が多くなってしまった場合でも、<br />
      十分余裕がある広さで作られているので安心！！<br />
      <br />
      素材も強固な作りとなっていて、バイクに固定がしっかりできるので<br />
      気にせず走らせることができます！
      <br />
      まだキャンプ用バックをお持ちでない方は是非参考にして下さい！
      </div>
    </div>
    <div class="top_a">
      <ul class="camps">
        <li class="camp_name">
          <div class="address">
            Link（Amazon）
          </div>
          <div class = "Name">
            <%= link_to "タナックス(TANAX) キャンピングシートバッグ2 モトフィズ(MOTOFIZZ) ブラック MFK-102 (可変容量59-75ℓ)", "https://www.amazon.co.jp/%E3%82%BF%E3%83%8A%E3%83%83%E3%82%AF%E3%82%B9-%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%94%E3%83%B3%E3%82%B0%E3%82%B7%E3%83%BC%E3%83%88%E3%83%90%E3%83%83%E3%82%B02-MOTOFIZZ-MFK-102-%E5%8F%AF%E5%A4%89%E5%AE%B9%E9%87%8F59-75%E2%84%93/dp/B0028EFRC2", target: :_blank %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>

<%= render "shared/footer" %>