<%= render "shared/seconde_header" %>

<main class="main">
  <div class="contents">
    <div class="top">
      <h2 class="top_head">ウェルキャンプ 西丹沢</h2>
      <div class="head_main">山間部にある敷地面積約30万坪を誇る、日本一の広大なキャンプ場<br />
      </div>
    </div>
    <div class='intermediatess'>
      <h2 class="intermediates_head">写真・風景</h2>
      <div class='item-lists'>
        <div class='listss'>
          <div class='item-img-contents'>
            <%= image_tag "/images/map2.jpg" %>
            <%= image_tag "/images/loten.jpg" %>
            <%= image_tag "/images/yama.jpeg" %>
            <%= image_tag "/images/kawa.jpeg" %>
          </div>
        </div>
      </div>
    </div>
    <div class="top">
      <h2 class="top_head">ポイント</h2>
      <div class="head_main">なんといっても敷地面積の広さ！<br />
      <br />
      その広さがあるからこその、今流行の高規格なキャンプ場となっています。<br />
      <br />
      キャンプ場内には男女それぞれの露天風呂や釣り堀等もあり、設備が充実しています！<br />
      <br />
      レンタル用品も充実しており、「あっ、○○忘れてしまった！」そんな時でも安心して過ごせます<br />
      <br />
      バイクでソロキャンの際には嬉しい、BBQ食材が一人前からの用意もあります。<br />
      <br />
      ウェルキャンプ西丹沢では、行ったら何でもあるので、荷物を軽量でコンパクトにいけることも魅力の一つです！<br />
      </div>
    </div>
    <div class="top_s">
      <h2 class="top_head">おすすめスポット</h2>
      <div class="head_main">ここに来たら是非、施設内にある露天風呂に行ってみてください！<br />
      キャンプ場で露天風呂に入れる施設は中々ありません！<br />
      <br />
      日本一広大な敷地を散歩するもよし、川で遊ぶのもよし<br />
      キャンプ場にいるだけで、何もかも充実した時間が過ごせます！<br />
      </div>
    </div>
    <div class="top_a">
      <ul class="camps">
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "ウェルキャンプ 西丹沢", "https://well-camp.com/", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒258-0201 神奈川県足柄上郡山北町中川868-1
          </div>
          <div class="phone">
            TEL : 0465-78-3181
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>

<%= render "shared/footer" %>