<%= render "shared/seconde_header6" %>

<div class="post">
  <div class="posts">
    <h2 class="up">ACCOUNT 編集</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="weight-bold-texts">
        <%= f.label :アイコン画像 %><br />
        <%= f.file_field :image %>
        <div id="image-list"></div>
      </div>

      <div class="weight-bold-texts">
        <%= f.label :nickname %><br />
        <%= f.text_field :nickname, autofocus: "nickname", :size=>"20" %>
      </div>

      <div class="weight-bold-texts">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"30" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%# <div class="weight-bold-texts"> %>
        <%# <%= f.label :password<br /> <i>(変更したくない場合は空白のままにします)</i><br /> %>
        <%# <%= f.password_field :password, autocomplete: "new-password", :size=>"25" %>
        <%# <% if @minimum_password_length %>
          <%# <br /> %>
          <%# <em><%= @minimum_password_length 文字以上</em> %>
        <%# <% end %>
      <%# </div> %>

      <%# <div class="weight-bold-texts"> %>
        <%# <%= f.label :password_confirmation<br /> %>
        <%# <%= f.password_field :password_confirmation, autocomplete: "new-password", :size=>"25" %>
      <%# </div> %>

      <%# <% if false %>
        <%# <div><%= f.label :current_password %> 
        <%# <i><%= t(".current_password_warning")</i><br /> %>
        <%# <%= f.password_field :current_password</div> %>
      <%# <% end %>

      <div class="weight-bold-texts">
        <%= f.label :self_introduction %>（任意）<br />
        <%= f.text_area :self_introduction, autocomplete: "self_introduction", size: "60x6" %>
      </div>

      <div class="actions">
        <%= f.submit "更新" %>
      </div>
    <% end %>
    
    <div class="actionss">
      <%= button_to "削除", registration_path(resource_name), data: { confirm: "削除して本当によろしいですか？" }, method: :delete %>
    </div>
    <div class="push">
      <div class="purchase-btn">
        <%= link_to "戻る", :back ,class: "btn-shine"%>
    </div>
  </div>

<%= render "shared/footer" %>