<%= render "shared/seconde_header2" %>

<main class="main">
  <div class="contents">
    <div class="top">
      <h2 class="top_head">DOD ライダーズバイクインテント 【ツーリング仕様】</h2>
      <div class="head_main">ライダーに向けた、ライダーが満足する、ライダーのために作られたテントです！！<br />
      </div>
    </div>
    <div class='intermediatess'>
      <h2 class="intermediates_head">商品写真</h2>
      <div class='item-lists'>
        <div class='listss'>
          <div class='item-img-contents'>
            <%= image_tag "/images/in.jpg" %>
            <%= image_tag "/images/soto.jpg" %>
            <%= image_tag "/images/ze.png" %>
            <%= image_tag "/images/syoukai.jpg" %>
          </div>
        </div>
      </div>
    </div>
    <div class="top">
      <h2 class="top_head">商品詳細</h2>
      <div class="head_main">カラー	: ブラック or タン<br />
      <br />
      組立サイズ（外寸） : （約）W215×D260×H140cm<br />
      インナーサイズ : （約）W200×D125×H110cm<br />
      収納サイズ : （約）直径23×長さ61.5cm<br />
      収納サイズ : （約）直径23×長さ61.5cm<br />
      収容可能人数 : 大人2名<br />
      <br />
      材質	アウターテント ： 40Dナイロン（PUコーティング、リップストップ加工）<br />
      インナーテント ： ポリエステル通気性生地<br />
      フロア ： 210Dポリエステル（PUコーティング）<br />
      ポール ： アルミ合金、スチール<br />
      <br />
      最低耐水圧	アウターテント ： 3000mm<br />
      フロア ： 5000mm<br />
      <br />
      付属品	ペグ✕17本、ロープ、ポール、キャリーバッグ、グランドシート<br />
      <br />
      発売年 : 2016年<br />
      <br />
      価格 : ￥27,700(税込)<br />
      ※ Amazon価格参照
      </div>
    </div>
    <div class="top_s">
      <h2 class="top_head">アイテムポイント</h2>
      <div class="head_main">バイクが収まる大型キャノピー!<br />
      リビングスペースを使わず、キャノピースペースだけでバイクが収められます。<br />
      <br />
      ワンタッチでテントが設営でき、組み立てが非常に簡単です！<br />
      <br />
      2ルーム構造となっており、テント内部が前室・寝室に分かれた2部屋構造。前室に床はなくツーリングキャンプ時にバイクを入れたり、ダイニングスペースとして活用できます。<br />
      全室は余裕のある広さとなっています。<br />
      <br />
      大型窓（前室・寝室・インナーテント）が設置してあり、換気もばっちりできます！<br />
      <br />
      耐水圧の効きも良く、アウターテントには荒天時に備え耐水圧3000mm。フロア部のアンダー（グラウンド）シートにも耐水圧5000mmの生地を使用しています。<br />
      <br />
      テント内にはランタンフックやインナーポケットも装備されており、使いやすく丁寧な構造となっています。<br />
      <br />
      <br />
      <br />
      このテントは、バイカーのために作られたテントと言っても過言ではないです！<br />
      前室のゆとりや寝室の十分なスペース、かつ愛車のバイクまで収納できるという、<br />
      バイクを愛する人にはもってこいのテントです！<br />
      <br />
      気になる点を言うのであれば、重量が思いという点と付属のペグでは少し心許ないという点がありますが、<br />
      それを考慮した上でもおすすめできるテントとなっています！<br />
      <br />
      他アイテムで紹介している、「タナックス(TANAX) キャンピングシートバッグ2」とも相性抜群なので、<br />
      是非参考にして頂けましたら幸いです！
      </div>
    </div>
    <div class="top_a">
      <ul class="camps">
        <li class="camp_name">
          <div class="address">
            Link（Amazon）
          </div>
          <div class = "Name">
            <%= link_to "DOD ライダーズバイクインテント 【ツーリング仕様】 ワンタッチ 大きな前室 1-2人用", "https://www.amazon.co.jp/dp/B01FHMR0DA?tag=bescreation2-22&linkCode=as1&creative=6339", target: :_blank %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>

<%= render "shared/footer" %>