<%= render "shared/seconde_header4" %>

<div class="post">
<%= form_with model: @consultation, local: true do |f| %>

<%= render 'shared/error_messages', model: f.object %>

  <div class="posts">
    <div class="new-items">
      <div class="weight-bold-text">
        相談名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"itemse-text", id:"item-name", :size=>"60" %>
    </div>
    <div class="news-items">
      <div class="weight-bold-text">
        相談内容
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :post_text, class:"items-text", id:"item-info", size: "60x12" ,rows:"7" %>
    </div>
    <div class="push">
      <div class="purchase-btn">
      <%= f.submit "PUSH 相談" ,class:"btn-shine" %>
      <%=link_to 'BACK', consultations_path, class:"btn-shine" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= render "shared/footer" %>