<%= render "shared/header4" %>

<main class="main">
  <div class="contents">
    <div class="top">
      <h2 class="top_head">お悩み相談について</h2>
      <div class="head_main">お悩み相談では、BCLife生活を送るにあたり、<br />
      コアな悩みなど相談して頂けましたら幸いです！<br />
      <br />
      他のサイトでも、お悩み相談等行っているサイトはあります。<br />
      ただ、弊社サイトではBCLifeに関するお悩みをメインに行い、<br />
      <br />
      「バイクで行く際に、軽量でコンパクトな寝具のおすすめはありますか？」<br />
      「焚き火台の購入を考えています。安価でかつ軽量なものはありますか？」<br />
      「バイクのオプションパーツで、キャンプに行く際に邪魔にならずかっこいいパーツはありますか？」<br />
      <br />
      などなどの相談をお寄せしております。<br />
      <br />
      もちろんアウトドアに関する素朴な疑問や質問でも問題ないです！<br />
      <br />
      バイクでキャンプに行くのが初めてで不安がある方や、<br />
      本当にこの商品を買っても大丈夫？<br />
      などの相談を投稿して頂き、実際に経験しているユーザー様同士で<br />
      不安を解消していけるよう、お悩み相談を開設しました。<br />
      <br />
      気になることや、少しの不安でもお気軽に投稿してください！
      </div>
    </div>
    <div class='intermediates'>
      <h2 class="intermediates_head">TROUBLE CONSULTATION<span>〜お悩み相談 一覧〜</span></h2>
      <div class='item-lists'>
        <% @consultations.each do |consultation| %>
          <div class='lists'>
            <%= link_to consultation_path(consultation.id), method: :get do %>
            <div class='names'>
              <%= consultation.name %>
            </div>
            <div class='name_text'>
              <%= consultation.post_text %>
            </div>
            <% end %>
          </div>
        <% end %>

        <% if @consultations.length == 0 %>
          <div class='list'>
            <%= link_to "#" do %>
            <div class='item-img-content'>
              <%= image_tag "/assets/mt.png", class: "item-img" %>
            </div>
            <% end %>
          </div>
          <% end %>
      </div>
    </div>
    <div  class="push">
      <%= link_to(new_consultation_path, class: 'purchase-btn') do %>
        <div class='btn-shine'>PUSH 相談</div>
      <% end %>
    <div>
  </div>
</main>

<%= render "shared/footer" %>