<%= render "shared/header" %>

<div class='item-contents'>
  <h2 class='title'>最新の相談</h2>
  <ul class='item-lists'>

  <% @consultations.each do |consultation| %>
    <li class='list'>
      <%= link_to consultation_path(consultation.id), method: :get do %>
      <div class='item-img-content'>
        <%= consultation.name %>
      </div>
      <div class='item-img-content'>
        <%= consultation.post_text %>
      </div>
      <% end %>
    </li>
  <% end %>

    <% if @consultations.length == 0 %>
      <li class='list'>
        <%= link_to "#" do %>
        <%= image_tag "/assets/mt.png", class: "item-img" %>
        <% end %>
      </li>
      <li class='list'>
        <%= link_to "#" do %>
        <%= image_tag "/assets/mt.png", class: "item-img" %>
        <% end %>
      </li>
      <li class='list'>
        <%= link_to "#" do %>
        <%= image_tag "/assets/mt.png", class: "item-img" %>
        <% end %>
      <% end %>
      </li>
  </ul>
</div>

<%= link_to(new_consultation_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>相談する</span>
  <%= image_tag '/assets/Classic.png' , size: '185x180' ,class: "purchase-btn-icon" %>
<% end %>

<%= render "shared/footer" %>