<%= render "shared/seconde_header4" %>

<div class="post">
  <div class="posts">
    <div class="user_name">
      <a href="/users/<%= @consultation.user.id %>">
        <span>投稿者</span><%= @consultation.user.nickname %>
      </a>
    </div>
    <div class="posts_name">
      <%= @consultation.name %>
    </div>
    <div class="post_text">
      <%= @consultation.post_text%>
    </div>
    <div class="push">
      <div class="purchase-btn">
        <% if user_signed_in? %>
          <% if current_user.id == @consultation.user_id %>
            <%= link_to "編集", edit_consultation_path(@consultation.id), method: :get, class: "btn-shine" %>
            <%= link_to "削除", consultation_path(@consultation.id), method: :delete, class:"btn-shine" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="comments">
      <div class="comments_title">COMMENT 投稿</div>
      <% if user_signed_in? %>
        <%= form_with(model: [@consultation, @consultations_comment], local: true) do |form| %>
          <%= form.text_area :comment_text, size: "50x6" %>
          <%= form.submit "PUSH" %>
        <% end %>
      <% else %>
        <strong class="log"><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
      <div class="comments">
        <div class="comments_title">＜COMMENT 一覧＞</div>
        <% @consultations_comments.each do |consultations_comment| %>
          <div class="comments_text">
            <% if consultations_comment.user.image? %>
              <div class="imas">
                <%= image_tag consultations_comment.user.image.url %>
              </div>
            <% else %>
              <div class="imass">
                <%= image_tag "/images/hito.png" %>
              </div>
            <% end %>
            <strong><%= link_to consultations_comment.user.nickname, "/users/#{consultations_comment.user_id}" %>：</strong>
            <%= consultations_comment.comment_text %> 
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>