<footer class="home_foot">
  <div class="innerse">
    <div class="top_foot">
      <h3 class="brand">BCLife ブランド</h3>
        <ul class="brand_ul">
          <li class="brand_li"><a href="#"><img src="/images/camp.png" alt="Camp">キャンプギア</a></li>
          <li class="brand_li"><a href="#"><img src="/images/bike.jpg" alt="Bike">ヴィンテージBIKE</a></li>
          <li class="brand_li"><a href="#"><img src="/images/Classic.png" alt="Classic">BCLife クラシック</a></li>
          <li class="brand_li"><a href="#"><img src="/images/mt.png" alt="Mountain">Mt.Like</a></li>
        </ul>
    </div>
    <div class="intermediate_foot">
      <h4 class="logo">
        <a href="/">
          <%= video_tag("/videos/BCLife.mp4", autoplay: :true, muted: :true, class: 'video-lg') %>
        </a>
      </h4>
      <div class="left_foot">
        <p class="left_name">MENU</p>
        <ul class="left_ul">
          <li class="left_li"><%= link_to "トップページ", root_path %></li>
          <li class="left_li"><%= link_to "キャンプ場 一覧", camps_lists_path %></li>
          <li class="left_li"><%= link_to "投稿写真 一覧", posts_path %></li>
          <li class="left_li"><%= link_to "お悩み相談", consultations_path %></li>
        </ul>
      </div>
      <div class="right_foot">
        <p class="right_name">ABOUT</p>
        <ul class="right_ul">
          <li class="right_li"><%= link_to "運営会社", "#" %></li>
          <li class="right_li"><%= link_to "利用規約", "#" %></li>
          <li class="right_li"><%= link_to "プライバシーポリシー", "#" %></li>
          <li class="right_li"><%= link_to "お問い合わせ", "#" %></li>
        </ul>
      </div>
    </div>
    <div class="bottom_foot">
      <p>©BCLife All Rights Reserved.</p>
    </div>
  </div>
</footer>