<header class="home_head">
  <div class="inner">
    <div class="main_menu">
      <div class="mains">
        <%= video_tag("/videos/BCLife.mp4", autoplay: :true, muted: :true, class: 'video-logo') %>
        <div class="menu"><a href="#">RECOMMENDED CAMOSITES<span>おすすめキャンプ場</span></a></div>
        <div class="menu"><a href="#">RECOMMENDED ITEMS<span>おすすめアイテム</span></a></div>
        <div class="menu"><a href="#">LIST OF CAMOSITES<span>キャンプ場 一覧</span></a></div>
        <div class="menu"><a href="../posts#index">POSTED PHOTOS<span>投稿写真 一覧</span></a></div>
        <div class="menu"><a href="../consultations#index">TROUBLE CONSULTATION<span>お悩み相談</span></a></div>
          <div class="sub">
            <div class="sub_menu"><a href="#" target="_blank"><img src="/assets/twitter.png" alt="twitter"></a></div>
            <div class="sub_menu"><a href="#" target="_blank"><img src="/assets/facebook.png" alt="facebook"></a></div>
            <div class="sub_menu"><a href="#" target="_blank"><img src="/assets/Instagram.png" alt="Instagram"></a></div>
            <div class="sub_menu"><a href="#" target="_blank"><img src="/assets/Youtube.png" alt="Youtube"></a></div>
          </div>
      </div>
      <div class='lists-right'>
        <% if user_signed_in? %>
          <div><%= link_to current_user.nickname, root_path, class: "user" %></div> 
          <div><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: "user" %></div>
        <% else %>
          <div><%= link_to 'LOGIN', new_user_session_path, class: "user" %></div>
          <div><%= link_to 'SIGNUP', new_user_registration_path, class: "user" %></div>
        <% end %>
      </div>
      <form class="search_area" method="get" action="/pcms/mt/mt-search.cgi">
        <input type="text" name="search" class="txt_h_search">
        <button class="btn_h_search">
          <img src="/assets/search.png" alt="" class="home_only_img">
        </button>
        <input type="hidden" name="" value="1,2,3,4,5">
      </form>
    </div>
  </div>
</header>





