<header class="home_head7">
  <div class="inner">
    <div class="main_menu">
      <div class="mains">
        <%= video_tag("/videos/BCLife.mp4", autoplay: :true, muted: :true, class: 'video-logo') %>
        <div class="menu"><%= link_to "TOP PAGE", root_path %><span>トップページ</span></div>
        <div class="menu"><%= link_to "RECOMMENDED CAMOSITES", "https://bikerlife-989.herokuapp.com/#camp" %><span>おすすめキャンプ場</span></div>
        <div class="menu"><%= link_to "RECOMMENDED ITEMS", "https://bikerlife-989.herokuapp.com/#item" %><span>おすすめアイテム</span></div>
        <div class="menu"><%= link_to "LIST OF CAMOSITES", camps_lists_path %><span>キャンプ場 一覧</span></div>
        <div class="menu"><%= link_to "POSTED PHOTOS", posts_path %><span>投稿写真 一覧</span></div>
        <div class="menu"><%= link_to "TROUBLE CONSULTATION", consultations_path %><span>お悩み相談</span></div>
          <div class="sub">
            <div class="sub_menu"><%= link_to image_tag(src= "twitter.png", class: "sub_menu"), root_path %></div>
            <div class="sub_menu"><%= link_to image_tag(src= "facebook.png", class: "sub_menu"), root_path %></div>
            <div class="sub_menu"><%= link_to image_tag(src= "Instagram.png", class: "sub_menu"), root_path %></div>
            <div class="sub_menu"><%= link_to image_tag(src= "Youtube.png", class: "sub_menu"), root_path %></div>
          </div>
      </div>
      <div class='lists-right'>
        <% if user_signed_in? %>
          <div><%= link_to current_user.nickname, root_path, class: "user" %></div>
          <div><%= link_to "MYPAGE", "/users/#{current_user.id}" ,class: "user"  %></div>
          <div><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: "user" %></div>
        <% else %>
          <div><%= link_to 'LOGIN', new_user_session_path, class: "user" %></div>
          <div><%= link_to 'SIGNUP', new_user_registration_path, class: "user" %></div>
        <% end %>
      </div>
    </div>
  </div>
</header>