<%= render "shared/header2" %>

<main class="main">
  <div class="contents">
    <div class="top">
      <h2 class="top_head">キャンプ場について</h2>
      <div class="head_main">ここで紹介しているキャンプ場は<br />
      愛車のバイクがテントサイトまで横付けできるキャンプ上のみ紹介しています。<br />
      <br />
      これからのBCLife生活を送るにあたり、少しでも不安を解消して頂きたく<br />
      手助け・ご参考にしていただきましたら幸いです。<br />
      <br />
      詳しい情報や料金等は公式HPご参考にして下さい！<br />
      <br />
      <br />
      さあ皆様！<br />
      BCLifeへ繰り出しましょう！！！<br />
      <br />
      <br />
      ※ 公式HPがあるキャンプ場に関しては、キャンプ場名から別リンクで飛べるようになっています
      </div>
    </div>
    <div class='intermediates'>
      <h2 class="intermediates_head">LIST OF CAMOSITES<span>〜キャンプ場 一覧〜</span></h2>
      <ul class="camps">
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "青野原オートキャンプ場組合", "https://www.aonohara-acl.jp/", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒252-0161 神奈川県相模原市緑区青野原918-1
          </div>
          <div class="phone">
            TEL : 042-787-0477
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2191.7229445085445!2d139.200151129439!3d35.56889591574801!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8aa743046bfd3f7a!2z6Z2S6YeO5Y6f44Kq44O844OI44Kt44Oj44Oz44OX5aC0!5e0!3m2!1sja!2sjp!4v1616045091642!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "相模湖休養村キャンプ場", "https://www.kanagawa-kankou.or.jp/?p=we-page-single-entry&spot=312137&type=spot", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒252-0176 神奈川県相模原市緑区寸沢嵐3574
          </div>
          <div class="phone">
            TEL : 042-685-0141
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12976.751863231513!2d139.1894732!3d35.5984297!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x66acd708ce5bbdb5!2z55u45qih5rmW5LyR6aSK5p2R44Kt44Oj44Oz44OX5aC0!5e0!3m2!1sja!2sjp!4v1616045707289!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "新戸キャンプ場", "https://www.kanagawa-kankou.or.jp/?p=we-page-single-entry&spot=312139&type=spot", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒252-0176 神奈川県相模原市緑区寸沢嵐2362
          </div>
          <div class="phone">
            TEL : 042-787-0141
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12981.869881794002!2d139.204152!3d35.566852!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x52d7ed98db069f49!2z5paw5oi444Kt44Oj44Oz44OX5aC0!5e0!3m2!1sja!2sjp!4v1616045760971!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "秋山川キャンプ場", "http://www.akikawaya.co.jp/camp/camptop.htm", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒252-0187 神奈川県相模原市緑区名倉25
          </div>
          <div class="phone">
            TEL : 042-687-2030
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12975.2722251973!2d139.152171!3d35.6075544!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf5bb918c07359793!2z56eL5bGx5bed44Kt44Oj44Oz44OX5aC0!5e0!3m2!1sja!2sjp!4v1616045878501!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "青野原キャンプ場・野呂Lodge", "https://norolodge.com/", target: :_blank %>
          </div>
          <div class="address">
            住所 : 220-0411 神奈川県相模原市緑区津久井町青野原931
          </div>
          <div class="phone">
            TEL : 042-787-1360
          </div>
          <div class="address">
            ※ 混み状況によりバイク横付けできない可能性もあり
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12981.459000151171!2d139.199279!3d35.569388!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1c13ac234ed3c6e0!2z6Z2S6YeO5Y6f6YeO5ZGC44Ot44OD44K444Kt44Oj44Oz44OX5aC0!5e0!3m2!1sja!2sjp!4v1616045958676!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "このまさわキャンプ場", "https://konomasawacamp.co.jp/", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒252-0162 神奈川県相模原市緑区青根2745
          </div>
          <div class="phone">
            TEL : 042-787-2051
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12985.851523107598!2d139.1207994!3d35.5422688!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1e1c0a71a28c4bfc!2z44GT44Gu44G-44GV44KP44Kt44Oj44Oz44OX5aC0!5e0!3m2!1sja!2sjp!4v1616046022524!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "桐花園キャンプ場", "https://tokaen.jp/camp/", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒252-0181 神奈川県相模原市緑区佐野川1822
          </div>
          <div class="phone">
            TEL : 042-687-2239
          </div>
          <div class="address">
            ※ バイク横付け可能ではあるが、テントの杭等が指しにくいエリアのみ横付け可能
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12969.480935045352!2d139.1400099!3d35.6432489!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf0fafb49654177fd!2z5qGQ6Iqx5ZyS44Kt44Oj44Oz44OX5aC0!5e0!3m2!1sja!2sjp!4v1616046115273!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "神之川キャンプマス釣り場", "https://kannogawa.jp/", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒252-0162 神奈川県相模原市緑区青根3685
          </div>
          <div class="phone">
            TEL : 042-787-2116
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12988.070746584448!2d139.1078949!3d35.5285606!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2024fa809571ed6a!2z56We5LmL5bed44Kt44Oj44Oz44OX5aC0!5e0!3m2!1sja!2sjp!4v1616047300691!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "音久和キャンプ場", "https://www.kanagawa-kankou.or.jp/?p=we-page-single-entry&spot=311998&type=spot", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒252-0162 神奈川県相模原市緑区青根2861-2
          </div>
          <div class="phone">
            TEL : 042-787-0968
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12986.170411620395!2d139.1137754!3d35.5402993!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9a4caaa0994f55d3!2z6Z-z5LmF5ZKM44Kt44Oj44Oz44OX5aC0!5e0!3m2!1sja!2sjp!4v1616046295581!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "バカンス村", "http://www7a.biglobe.ne.jp/~bakansumura/", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒229-0206 神奈川県相模原市藤野町牧野伏馬田12822
          </div>
          <div class="phone">
            TEL : 042-787-0242
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12982.906888381049!2d139.169274!3d35.5604508!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x715485eeb43bfd9f!2z44OQ44Kr44Oz44K55p2R!5e0!3m2!1sja!2sjp!4v1616046383336!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "ソレイユの丘キャンプ場", "https://www.seibu-la.co.jp/soleil/camp", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒238-0316 神奈川県横須賀市長井4丁目3850-2
          </div>
          <div class="phone">
            TEL : 046-857-2500
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13042.325427810225!2d139.6096284!3d35.1919855!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x51d386873aa497b2!2z44K944Os44Kk44Om44Gu5LiYIOOCquODvOODiOOCreODo-ODs-ODl-WgtA!5e0!3m2!1sja!2sjp!4v1616046428872!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "なみのこ村", "http://www.naminokomura.jp/", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒250-0024 神奈川県小田原市根府川161
          </div>
          <div class="phone">
            TEL : 046-529-0841
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13040.693881935646!2d139.1396356!3d35.2021478!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x373e269a24932573!2z44Gq44G_44Gu44GT5p2R!5e0!3m2!1sja!2sjp!4v1616046502954!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "滝沢園キャンプ場", "http://takizawaen.com/", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒259-1306 神奈川県秦野市戸川1445
          </div>
          <div class="phone">
            TEL : 046-375-0900
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13007.65944897444!2d139.1679971!3d35.4073608!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8944581440b3f65!2z5rud5rKi5ZyS44Kt44Oj44Oz44OX5aC0!5e0!3m2!1sja!2sjp!4v1616046552231!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "Fun Space(ファン スペース) 芦ノ湖キャンプ村 レイクサイドヴィラ", "https://campmura.com/", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒250-0522 神奈川県足柄下郡箱根町元箱根164
          </div>
          <div class="phone">
            TEL : 046-084-8279
          </div>
          <div class="address">
            ※ オートキャンプサイト、一区画にバイク二台まで乗り入れ可能
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13034.751747143317!2d138.989522!3d35.2391376!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x469bc52e7b312855!2zRnVuIFNwYWNl6Iqm44OO5rmW44Kt44Oj44Oz44OX5p2RIOODrOOCpOOCr-OCteOCpOODieODtOOCo-ODqQ!5e0!3m2!1sja!2sjp!4v1616046627421!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "中津川河川敷", "https://www.town.aikawa.kanagawa.jp/shisetsu/corona/1587979073271.html", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒243-0306 神奈川県愛甲郡愛川町田代
          </div>
          <div class="phone">
            TEL : 046-223-1711
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12988.826053852827!2d139.2862163!3d35.523894!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb0b6b4138f0293ff!2z5Lit5rSl5bed5rKz5bed5pW3!5e0!3m2!1sja!2sjp!4v1616047169168!5m2!1sja!2sjp" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "リッチランド", "http://richland-camp.com/", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒243-0112 神奈川県愛甲郡清川村煤ヶ谷4513-1
          </div>
          <div class="phone">
            TEL : 046-288-1031
          </div>
          <div class="address">
            ※ オートキャンプサイト、一区画にバイク一台まで乗り入れ可能
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12992.392310353907!2d139.263713!3d35.501853!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9bbd01a0152b5feb!2z44Oq44OD44OB44Op44Oz44OJ!5e0!3m2!1sja!2sjp!4v1616046683555!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "蜂花苑 ミロクキャンプ場", "http://houkaen.jp/plan/miroku/", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒258-0001 神奈川県足柄上郡松田町寄7138
          </div>
          <div class="phone">
            TEL : 0465-25-5143
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13006.374987377454!2d139.1314892!3d35.4153191!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x63ef5d0d74dc4ecd!2z44Of44Ot44Kv44Kt44Oj44Oz44OX5aC0!5e0!3m2!1sja!2sjp!4v1616047227187!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "ウェルキャンプ西丹沢", "https://well-camp.com/", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒258-0201 神奈川県足柄上郡山北町中川868-1
          </div>
          <div class="phone">
            TEL : 0465-78-3181
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12997.183073354123!2d139.0641364!3d35.4722253!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x725dd3251952c1fc!2z44Km44Kn44Or44Kt44Oj44Oz44OX6KW_5Li55rKi!5e0!3m2!1sja!2sjp!4v1616046842732!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "西丹沢 大滝キャンプ場", "http://ootakicampsite.com/", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒258-0201 神奈川県足柄上郡山北町中川879
          </div>
          <div class="phone">
            TEL : 0465-78-3146
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13000.064843103839!2d139.0523013!3d35.4543931!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa0dd61c79809a57!2z6KW_5Li55rKiIOWkp-a7neOCreODo-ODs-ODl-WgtA!5e0!3m2!1sja!2sjp!4v1616046911557!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "大石キャンプ場", "#" %>
          </div>
          <div class="address">
            住所 : 〒258-0201 神奈川県足柄上郡山北町中川866
          </div>
          <div class="phone">
            TEL : 0465-78-3138
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12998.629480895495!2d139.062357!3d35.463276!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3aba404126abc922!2z5aSn55-z44Kt44Oj44Oz44OX5aC0!5e0!3m2!1sja!2sjp!4v1616046960492!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "ひだまりの里オートキャンプ場", "http://www.town.yamakita.kanagawa.jp/0000000068.html", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒258-0126 神奈川県足柄上郡山北町神縄438
          </div>
          <div class="phone">
            TEL : 0465-77-2777
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13008.494586380908!2d139.0438084!3d35.4021856!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xccdfc7d48988f4de!2z44Gy44Gg44G-44KK44Gu6YeM44Kq44O844OI44Kt44Oj44Oz44OX5aC0!5e0!3m2!1sja!2sjp!4v1616047009070!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "白石オートキャンプ場", "https://www.shiraishiautocamp.com/", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒258-0201 神奈川県足柄上郡山北町中川870-3
          </div>
          <div class="phone">
            TEL : 0465-78-3017
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12995.251401216336!2d139.063771!3d35.484174!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x81f5ad4876ab7fc3!2z55m955-z44Kq44O844OI44Kt44Oj44Oz44OX5aC0!5e0!3m2!1sja!2sjp!4v1616047063127!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "BOWER HOUSE JAPAN", "http://www.bowerhouse-japan.com/topindex.html", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒258-0201 神奈川県足柄上郡山北町中川869
          </div>
          <div class="phone">
            TEL : 0465-78-3959
          </div>
          <div class="address">
            ※ ソロキャンは不可
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12996.273510114754!2d139.066751!3d35.477852!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xadc7765863d263a!2z44OQ44Km44Ki44O844OP44Km44K544K444Oj44OR44OzIOOCreODo-ODs-ODl-WgtA!5e0!3m2!1sja!2sjp!4v1616047102967!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
      </ul>
    </div>
  </div>
</main>

<%= render "shared/footer" %>