<%= render "shared/header2" %>

<main class="main">
  <div class="contents">
    <div class="top">
      <h2 class="top_head">キャンプ場について</h2>
      <div class="head_main">ここで紹介しているキャンプ場は<br />
      愛車のバイクがテントサイトまで横付けできるキャンプ上のみ紹介しています。<br />
      <br />
      これからのBCLife生活を送るにあたり、少しでも不安を解消して頂きたく<br />
      手助け・ご参考にしていただきましたら幸いです。<br />
      <br />
      詳しい情報や料金等は公式HPご参考にして下さい！<br />
      <br />
      <br />
      さあ皆様！<br />
      BCLifeへ繰り出しましょう！！！
      </div>
    </div>
    <div class='intermediates'>
      <h2 class="intermediates_head">LIST OF CAMOSITES<span>〜キャンプ場 一覧〜</span></h2>
      <ul class="camps">
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "キャンプ場名", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>

      </ul>
    </div>
  </div>
</main>

<%= render "shared/footer" %>