<%= render "shared/header2" %>

<main class="main">
  <div class="contents">
    <div class="top">
      <h2 class="top_head">キャンプ場について</h2>
      <div class="head_main">ここで紹介しているキャンプ場は<br />
      愛車のバイクがテントサイトまで横付けできるキャンプ上のみ紹介しています。<br />
      <br />
      これからのBCLife生活を送るにあたり、少しでも不安を解消して頂きたく<br />
      手助け・ご参考にしていただきましたら幸いです。<br />
      <br />
      詳しい情報や料金等は公式HPご参考にして下さい！<br />
      <br />
      <br />
      さあ皆様！<br />
      BCLifeへ繰り出しましょう！！！
      </div>
    </div>
    <div class='intermediates'>
      <h2 class="intermediates_head">LIST OF CAMOSITES<span>〜キャンプ場 一覧〜</span></h2>
      <ul class="camps">
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "青野原オートキャンプ場組合", "#" %>
          </div>
          <div class="address">
            住所 : 〒252-0161 神奈川県相模原市緑区青野原918-1
          </div>
          <div class="phone">
            TEL : 042-787-0477
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "相模湖休養村キャンプ場", "#" %>
          </div>
          <div class="address">
            住所 : 〒252-0176 神奈川県相模原市緑区寸沢嵐3574
          </div>
          <div class="phone">
            TEL : 042-685-0141
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "新戸キャンプ場", "#" %>
          </div>
          <div class="address">
            住所 : 〒252-0176 神奈川県相模原市緑区寸沢嵐2362
          </div>
          <div class="phone">
            TEL : 042-787-0141
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "秋山川キャンプ場", "#" %>
          </div>
          <div class="address">
            住所 : 〒252-0187 神奈川県相模原市緑区名倉25
          </div>
          <div class="phone">
            TEL : 042-687-2030
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "青野原キャンプ場・野呂Lodge", "#" %>
          </div>
          <div class="address">
            住所 : 220-0411 神奈川県相模原市緑区津久井町青野原931
          </div>
          <div class="phone">
            TEL : 042-787-1360
          </div>
          <div class="address">
            ※ 混み状況によりバイク横付けできない可能性もあり
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "青野原オートキャンプ場組合", "#" %>
          </div>
          <div class="address">
            住所 : 〒252-0161 神奈川県相模原市緑区青野原918-2
          </div>
          <div class="phone">
            TEL : 042-787-0477
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "このまさわキャンプ場", "#" %>
          </div>
          <div class="address">
            住所 : 〒252-0186 神奈川県相模原市緑区牧野10657
          </div>
          <div class="phone">
            TEL : 042-787-2051
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "桐花園キャンプ場", "#" %>
          </div>
          <div class="address">
            住所 : 〒252-0181 神奈川県相模原市緑区佐野川1822
          </div>
          <div class="phone">
            TEL : 042-687-2239
          </div>
          <div class="address">
            ※ バイク横付け可能ではあるが、テントの杭等が指しにくいエリアのみ横付け可能
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "神之川キャンプマス釣り場", "#" %>
          </div>
          <div class="address">
            住所 : 〒252-0162 神奈川県相模原市緑区青根3685
          </div>
          <div class="phone">
            TEL : 042-787-2116
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "音久和キャンプ場", "#" %>
          </div>
          <div class="address">
            住所 : 〒252-0162 神奈川県相模原市緑区青根2861-2
          </div>
          <div class="phone">
            TEL : 042-787-0968
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "ソレイユの丘 オートキャンプ場", "#" %>
          </div>
          <div class="address">
            住所 : 〒238-0316 神奈川県横須賀市長井4丁目3850-2
          </div>
          <div class="phone">
            TEL : 046-857-2500
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "なみのこ村", "#" %>
          </div>
          <div class="address">
            住所 : 〒250-0024 神奈川県小田原市根府川161
          </div>
          <div class="phone">
            TEL : 046-529-0841
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "滝沢園キャンプ場", "#" %>
          </div>
          <div class="address">
            住所 : 〒259-1306 神奈川県秦野市戸川1445
          </div>
          <div class="phone">
            TEL : 046-375-0900
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "Fun Space(ファン スペース) 芦ノ湖キャンプ村 レイクサイドヴィラ", "#" %>
          </div>
          <div class="address">
            住所 : 〒250-0522 神奈川県足柄下郡箱根町元箱根164
          </div>
          <div class="phone">
            TEL : 046-084-8279
          </div>
          <div class="address">
            ※ オートキャンプサイト、一区画にバイク二台まで乗り入れ可能
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "中津川河川敷", "#" %>
          </div>
          <div class="address">
            住所 : 〒243-0306 神奈川県愛甲郡愛川町田代
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "リッチランド", "#" %>
          </div>
          <div class="address">
            住所 : 〒243-0112 神奈川県愛甲郡清川村煤ヶ谷4513-1
          </div>
          <div class="phone">
            TEL : 046-288-1031
          </div>
          <div class="address">
            ※ オートキャンプサイト、一区画にバイク一台まで乗り入れ可能
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "蜂花苑 ミロクキャンプ場", "#" %>
          </div>
          <div class="address">
            住所 : 〒258-0001 神奈川県足柄上郡松田町寄7138
          </div>
          <div class="phone">
            TEL : 0465-25-5143
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "ウェルキャンプ西丹沢", "#" %>
          </div>
          <div class="address">
            住所 : 〒258-0201 神奈川県足柄上郡山北町中川868-1
          </div>
          <div class="phone">
            TEL : 0465-78-3181
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "西丹沢 大滝キャンプ場", "#" %>
          </div>
          <div class="address">
            住所 : 〒258-0201 神奈川県足柄上郡山北町中川879
          </div>
          <div class="phone">
            TEL : 0465-78-3146
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "大石キャンプ場", "#" %>
          </div>
          <div class="address">
            住所 : 〒258-0201 神奈川県足柄上郡山北町中川866
          </div>
          <div class="phone">
            TEL : 0465-78-3138
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "ひだまりの里オートキャンプ場", "#" %>
          </div>
          <div class="address">
            住所 : 〒258-0126 神奈川県足柄上郡山北町神縄438
          </div>
          <div class="phone">
            TEL : 0465-77-2777
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "白石オートキャンプ場", "#" %>
          </div>
          <div class="address">
            住所 : 〒258-0201 神奈川県足柄上郡山北町中川870-3
          </div>
          <div class="phone">
            TEL : 0465-78-3017
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>

<%= render "shared/footer" %>