<%= render "shared/seconde_header2" %>

<main class="main">
  <div class="contents">
    <div class="top">
      <h2 class="top_head">ミニスチールピエゾ ストーブケース キャンプ用品ガスバーナー</h2>
      <div class="head_main">超コンパクト！CB缶を横にセットするので、安定性も抜群！！<br />
      </div>
    </div>
    <div class='intermediatess'>
      <h2 class="intermediates_head">商品写真</h2>
      <div class='item-lists'>
        <div class='listss'>
          <div class='item-img-contents'>
            <%= image_tag "/images/iwa.jpg" %>
            <%= image_tag "/images/hi.jpg" %>
            <%= image_tag "/images/gas.jpg" %>
            <%= image_tag "/images/hu.jpg" %>
          </div>
        </div>
      </div>
    </div>
    <div class="top">
      <h2 class="top_head">商品詳細</h2>
      <div class="head_main">梱包サイズ	: 11.4 x 8.6 x 7.2 cm; 420 g<br />
      <br />
      4000Wまでの強力な火力<br />
      屋外使用で心強い耐風性能<br />
      軽量、折りたたみ式<br />
      <br />
      価格 : ￥2,291（税込）
      ※ Amazon価格参照
      </div>
    </div>
    <div class="top_s">
      <h2 class="top_head">アイテムポイント</h2>
      <div class="head_main">1Lの水を沸騰させるのに約3分で可能。<br />
      <br />
      マッチ、ライターなどの点火器具は必要がない。<br />
      <br />
      三角の安定感を求めるため、脚が三本付いており安定性に優れます。<br />
      <br />
      従来のミニコンロよりもさらに小さく、片付けの際も最小限の場所しかとりません。<br />
      <br />
      専用収納袋付きで、持ち運びが簡単、家でも外でもどちらでも使えます。<br />
      ※ 家での使用の際には火力が強いので注意が必要<br />
      <br />
      <br />
      <br />
      何と言ってもコンパクトにまとまり、火力が強いというところがポイントになります。<br />
      キャンプ以外でも山登りやハイキングなどにも活用でき多様性も抜群です！<br />
      <br />
      収納袋付きで、着火時も安定性が非常に良く、リーズナブルな価格帯となっていますので、<br />
      まだガスバーナーお持ちでない方は、是非参考にしてみて下さい！
      </div>
    </div>
    <div class="top_a">
      <ul class="camps">
        <li class="camp_name">
          <div class="address">
            Link（Amazon）
          </div>
          <div class = "Name">
            <%= link_to "ミニスチールピエゾ ストーブケース キャンプ用品ガスバーナー キャンプストーブ コンパクトバーナー コンパクト折りたたみ式バーナー 圧電点火装置付きCB缶対応 収納袋付き", "https://www.amazon.co.jp/%E3%83%9F%E3%83%8B%E3%82%B9%E3%83%81%E3%83%BC%E3%83%AB%E3%83%94%E3%82%A8%E3%82%BE-%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%97%E7%94%A8%E5%93%81%E3%82%AC%E3%82%B9%E3%83%90%E3%83%BC%E3%83%8A%E3%83%BC-%E3%82%B3%E3%83%B3%E3%83%91%E3%82%AF%E3%83%88%E3%83%90%E3%83%BC%E3%83%8A%E3%83%BC-%E3%82%B3%E3%83%B3%E3%83%91%E3%82%AF%E3%83%88%E6%8A%98%E3%82%8A%E3%81%9F%E3%81%9F%E3%81%BF%E5%BC%8F%E3%83%90%E3%83%BC%E3%83%8A%E3%83%BC-%E5%9C%A7%E9%9B%BB%E7%82%B9%E7%81%AB%E8%A3%85%E7%BD%AE%E4%BB%98%E3%81%8DCB%E7%BC%B6%E5%AF%BE%E5%BF%9C/dp/B08N1JP6QR/ref=pd_lpo_200_img_0/357-2428744-1262811?_encoding=UTF8&pd_rd_i=B08N1JP6QR&pd_rd_r=2fbb675e-043f-4365-834f-97812cbf0e5b&pd_rd_w=7hbay&pd_rd_wg=NMQiG&pf_rd_p=7d2a804e-5ead-4bb2-99e0-577db2007a53&pf_rd_r=HX2XA7EA9A76AXQDMF02&psc=1&refRID=HX2XA7EA9A76AXQDMF02", target: :_blank %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>

<%= render "shared/footer" %>