<%= render "shared/seconde_header" %>

<main class="main">
  <div class="contents">
    <div class="top">
      <h2 class="top_head">ソレイユの丘キャンプ場</h2>
      <div class="head_main">横浜から40分！海風を感じながら最高の景色を独り締め！！！<br />
      </div>
    </div>
    <div class='intermediatess'>
      <h2 class="intermediates_head">写真・風景</h2>
      <div class='item-lists'>
        <div class='listss'>
          <div class='item-img-contents'>
            <%= image_tag "/images/map3.jpg" %>
            <%= image_tag "/images/site.jpg" %>
            <%= image_tag "/images/yuhi.jpg" %>
            <%= image_tag "/images/capibara.jpg" %>
          </div>
        </div>
      </div>
    </div>
    <div class="top">
      <h2 class="top_head">ポイント</h2>
      <div class="head_main">何と言っても相模湾が目の前にあり、最高の景色を堪能できます！<br />
      <br />
      相模湾を一望しながら入る温泉施設も備わっており、快適なキャンプライフが過ごせます！<br />
      <br />
      キャンプサイトではデッキが備え付けてある（一部）ので、夜間の底冷えなども解消できるようなサイトとなっています！<br />
      <br />
      花火許可エリアもあるので、手軽でコンパクトなレクリエーションとして花火の持参もして頂けます！<br />
      <br />
      立地の良さもあり、夕日が格段と綺麗に見えて地平線を感じながら過ごせるキャンプ場となっています！<br />
      </div>
    </div>
    <div class="top_s">
      <h2 class="top_head">おすすめスポット</h2>
      <div class="head_main">ソレイユの丘公園内には「ふれあい動物村」という施設もあり、<br />
      アルパカやポニー、ワンちゃん等と触れ合うことができます！<br />
      <br />
      公園内でイベントも行っており「ライブ」や「ショー」、菜の花の開花に合わせた「菜の花まつり」等行っており、<br />
      キャンプ以外でも楽しめることが、そろい踏みです！！<br />
      <br />
      夜は波音を聴きながら、日頃の疲れを癒していただくのにぴったりのキャンプ場となっています！
      </div>
    </div>
    <div class="top_a">
      <ul class="camps">
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "ソレイユの丘キャンプ場", "https://www.seibu-la.co.jp/soleil/camp", target: :_blank %>
          </div>
          <div class="address">
            住所 : 〒238-0316 神奈川県横須賀市長井4丁目3850-2
          </div>
          <div class="phone">
            TEL : 046-857-2500
          </div>
          <p class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13042.325427810225!2d139.6096284!3d35.1919855!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x51d386873aa497b2!2z44K944Os44Kk44Om44Gu5LiYIOOCquODvOODiOOCreODo-ODs-ODl-WgtA!5e0!3m2!1sja!2sjp!4v1616046428872!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </p>
        </li>
      </ul>
    </div>
  </div>
</main>

<%= render "shared/footer" %>