<%= render "shared/seconde_header3" %>

<div class="post">
<%= form_with model: @post, local: true do |f| %>

  <div class="posts">
    <div class="img-upload">
    <%= render 'shared/error_messages', model: f.object %>
      <div class="weight-bold-text">
        投稿画像
        <span class="indispensable">必須</span>
      </div>
      <%= f.file_field :image, name: 'post[images][]', id:"item-image" %>
      <div class="items-box-img", id="image-lists"></div>
      <% @post.images.each do |image| %>
        <%= image_tag image, class:'item-box-img' %>
      <% end %>
      <div class="weight-bold-text">
        投稿名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", :size=>"60" %>
    </div>
    <div class="news-items">
      <div class="weight-bold-text">
        投稿の説明
      </div>
      <%= f.text_area :post_text, class:"items-text", id:"item-info", size: "60x12", :rows => "30" %>
    </div>
    <div class="push">
      <div class="purchase-btn">
      <%= f.submit "PUSH 投稿" ,class:"btn-shine" %>
      <%=link_to 'BACK', posts_path, class:"btn-shine" %>
    </div>
  </div>
  <% end %>
</div>

<%= render "shared/footer" %>