<%= render "shared/header3" %>

<main class="main">
  <div class="contents">
    <div class="top">
      <h2 class="top_head">投稿写真について</h2>
      <div class="head_main">ここでは皆様の愛車のバイクやキャンプ道具、<br />
      アウトドアで行った絶景ポイントやロマン溢れる写真などなど、<br />
      自由な投稿をして頂けたら幸いです！！ <br />
      <br />
      皆様自身が行ったことない場所やおすすめグッツなど共有して頂き、<br />
      <br />
      「次はここ行ってみよう〜！！」<br />
      「こんなアイテムあったんだ、次買ってみようかな」<br />
      「ネットにはでてない穴場もまだまだあるんだな〜！！」<br />
      <br />
      皆様が知らないことや情報などを投稿して、<br />
      BCLifeの発信源になって頂きたいです！<br />
      <br />
      よりよいBCLifeを楽しむために、どんどん投稿していきましょう！！！
      </div>
    </div>
    <div class='intermediates'>
      <h2 class="intermediates_head">POSTED PHOTOS<span>〜投稿写真 一覧〜</span></h2>
      <div class='item-lists'>
        <% @posts.each do |post| %>
          <div class='list'>
            <%= link_to post_path(post.id), method: :get do %>
            <div class='item-img-content'>
              <%if post.images.count > 0 %>
                <%= image_tag post.images.first, class:'item-box-img' %>
              <% end %>
            </div>
            <div class="names">
              <%= post.name %>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class='item-lists'>
        <% if @posts.length == 0 %>
          <div class='list_no'>
            <%= link_to "#" do %>
            <div class='item-img-content'>
              <%= image_tag "/images/harley.png", class: "item-img_no" %>
            </div>
            <div class="names_no">
              愛車 HARLEY
            </div>
            <% end %>
          </div>
          <div class='list'>
            <%= link_to "#" do %>
            <div class='item-img-content'>
              <%= image_tag "/images/ten.png", class: "item-img_no" %>
            </div>
            <div class="names_no">
              キャンプギア
            </div>
            <% end %>
          </div>
          <div class='list'>
            <%= link_to "#" do %>
            <div class='item-img-content'>
              <%= image_tag "/images/giar.png", class: "item-img_no" %>
            </div>
            <div class="names_no">
              おすすめテント
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div  class="push">
      <%= link_to(new_post_path, class: 'purchase-btn') do %>
        <div class='btn-shine'>PUSH 投稿</div>
      <% end %>
    </div>
    <div class='p-top__paginate'>
      <%= paginate @posts %>
    </div>
  </div>
</main>

<%= render "shared/footer" %>