<%= render "shared/seconde_header3" %>

<div class='intermediatesse'>
  <h2 class="intermediates_head">検索結果</h2>
  <div class='item-lists'>
    <% @results.each do |post| %>
      <div class='list'>
        <%= link_to post_path(post.id), method: :get do %>
        <div class='item-img-content'>
          <td><%= image_tag post.images.first, class: "item-img" %></td>
        </div>
        <div class="names">
          <td><%= post.name %></td>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>