<div class="item-show">
  <div class="item-box">
    <div class="item-img-content">
      <%= image_tag @post.image,class:"item-box-img" %>
    </div>
    <p><%= @post.user.nickname %>さんの投稿</p>
    <h2 class="name">
      <%= @post.name %>
    </h2>
    <h5>
      <%= @post.post_text%>
    </h5>
    <% if user_signed_in? %>
      <% if current_user.id == @post.user_id %>
        <%= link_to "編集", edit_post_path(@post.id), method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", post_path(@post.id), method: :delete, class:"item-destroy" %>
      <% end %>
    <% end %>
  </div>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :comment_text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.comment_text %>
        </p>
      <% end %>
    </div>
  </div>
</div>