<%= render "shared/seconde_header3" %>

<div class="post">
  <div class="posts">
    <div class="users_name">
      <a href="/users/<%= @post.user.id %>">
        <span>投稿者</span><%= @post.user.nickname %>
      </a>
    </div>
    <div class="post_date">
      <pre>投稿日時</pre><%= @post.updated_at.strftime("%Y-%m-%d %H:%M") %>
    </div>
    <div class="item-img-content">
    <% @post.images.each do |image| %>
      <%= image_tag image, class:'item-box-img' %>
    <% end %>
    </div>
    <div class="post_name">
      <%= @post.name %>
    </div>
    <div class="post_text">
      <%= @post.post_text%>
    </div>
    <div id="like-<%= @post.id %>">
      <%= render 'likes/like', { post: @post} %>
    </div>
    <div class="push">
      <div class="purchase-btn">
        <% if user_signed_in? %>
          <% if current_user.id == @post.user_id %>
            <%= link_to "編集", edit_post_path(@post.id), method: :get, class: "btn-shine" %>
            <%= link_to "削除", post_path(@post.id), method: :delete, class:"btn-shine" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="comments">
      <div class="comments_title">COMMENT 投稿</div>
      <% if user_signed_in? %>
        <%= form_with(model: [@post, @comment], local: true) do |form| %>
          <%= form.text_area :comment_text, size: "50x6" %>
          <%= form.submit "PUSH" %>
        <% end %>
      <% else %>
        <strong class="log"><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
      <div class="comments">
        <div class="comments_title">＜COMMENT 一覧＞</div>
        <% @comments.each do |comment| %>
          <div class="comments_text">
            <% if comment.user.image? %>
              <div class="imas">
                <%= image_tag comment.user.image.url %>
              </div>
            <% else %>
              <div class="imass">
                <%= image_tag "/images/hito.png" %>
              </div>
            <% end %>
            <div class="posts_date">
              <pre>投稿日時</pre><%= comment.updated_at.strftime("%Y-%m-%d %H:%M") %>
            </div>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.comment_text %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>